*::-webkit-input-placeholder {
 color: #666;
 opacity: 1;
}

*:-moz-placeholder {
 color: #666;
 opacity: 1;
}

*::-moz-placeholder {
 color: #666;
 opacity: 1;
}

*:-ms-input-placeholder {
 color: #666;
 opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
 color: #666;
}

body input:required:valid,
body textarea:required:valid {
 color: #666;
}

body {
 direction: rtl;
 font-size: 18px;
 min-width: 320px;
 max-width: 100%;
 text-align: right;
 height: 100vh;
 width: 100%;
 padding: 0;
 margin: auto;
 position: relative;
 line-height: 1.6;
 font-family: "RobotoRegular", sans-serif;
 overflow-x: hidden;
 list-style: none;
 display: flex;
 flex: 1;
 flex-flow: column wrap;
 justify-content: space-between;
 align-items: center;
 display: block;
}

* {
 box-sizing: content-box;
}

.hidden {
 display: none;
}

ul {
 margin: 0;
 padding: 0;
}

a {
 text-decoration: none;
}

p,
label {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*______________       Header CSS        _______________*/
.header {
 position: fixed;
 align-items: center;
 left: 0;
 right: 0;
 top: 0;
 max-height: 100px;
 background-color: white;
 margin-bottom: 20px;
 border-bottom: 1px solid #e5edee;
 font-family: 'Rubik', sans-serif;
 z-index: 10;
}

.header__logo,
.header__menu,
.header__phone {
 height: 100px;
 display: flex;
 box-sizing: border-box;
}

.header__logo {
 border-left: 1px solid #e5edee;
 margin-top: 5px;
 padding-left: 21px;
 width: 215px;
}

.logo__link {
 display: flex;
 align-items: center;
}

.header__menu {
 max-width: 710px;
 width: calc(100% - 470px);
}

.menu {
 display: inline-flex;
 line-height: 100px;
 justify-content: space-around;
 width: 100%;
 letter-spacing: 1px;
}

.menu-item {
 position: relative;
 list-style: none; /*display: inline-block;*/
 margin: 0;
 cursor: pointer;
 float: right;
 padding: 0;
 text-align: center;
 height: 96px;
 box-sizing: border-box
}

.menu-item::after {
 content: ' ';
 width: 0;
 height: 3px;
 background: #1997ed;
 position: absolute;
 top: calc(100% - 3px);
 left: 50%;
 transition: 0.7s;
}

.menu-item:hover::after {
 width: 100%;
 left: 0;
}

.menu-item a {
 color: #000;
 display: block;
 width: 100%;
 height: 100%;
 box-sizing: border-box;
 text-decoration: none;
 transition: all 0.7s ease-out;
}

.menu-item a:hover {
 color: #00b8f1;
}

.menu-item_submenu {
 position: relative;
 display: none;
 margin: 0;
 padding: 0 0%;
 width: 109%;
 background-color: #fff;
 visibility: hidden;
 opacity: 0;
 transition: all 0.7s ease;
 margin-right: -4%;
}

.menu-item_submenu li {
 padding: 0;
 margin: 0;
 list-style: none;
 height: 40px;
 line-height: 40px;
}

.submenu-active {
 display: block;
 visibility: visible;
 opacity: 1;
}

.header__phone {
 width: 245px;
 margin-top: -3px;
 padding-top: 25px;
 padding-right: 15px;
 border-right: 1px solid #e5edee;
}

.link__phone {
 display: flex;
 align-items: center;
 margin: auto 0px;
 margin-left: 10px;
}

.icon__phone {
 margin-left: 16px;
 margin-top: 11px;
 height: 30px;
}

.phone__label {
 color: #000;
 font-size: 14px;
}

.phone__number {
 font-size: 21px;
 font-weight: bold;
 line-height: 1;
 margin-left: 18px;
 margin-top: 2px;
}

.phone__number a {
 text-decoration: none;
 color: #233582;
 transition: all 0.7s ease;
}

.phone__number a:hover {
 color: green;
}

/*_____________      Content CSS            _______________*/
.section__banner {
 position: relative;
 height: auto;
 margin-top: 120px;
 box-sizing: border-box;
 max-width: 1210px;
}

.header__banner {
 position: relative;
 width: 100%;
 height: auto;
 min-height: 400px;
 color: #fff;
 display: flex;
 justify-content: flex-start;
 background: url(../img/banner.jpg) top center no-repeat;
 margin-left: 17px;
 margin-top: 3px;
}

.banner__group-text {
 position: relative;
 display: block;
 top: 232px;
 right: 53px;
 letter-spacing: 1.3px;
 line-height: 2;
 max-height: 140px;
}

.banner__title {
 font-size: 40px;
 font-weight: 600;
}

.banner__descripton {
 font-size: 21px;
 letter-spacing: 0.7px;
}

.search__section {
 display: flex;
 width: 100%;
 margin-top: 25px;
 justify-content: space-between;
 padding: 33px 0;
 background: #f2fbfe;
 font-family: "Rubik", sans-serif;
}

.inner-flex {
 display: inline-flex;
 min-height: 40px;
 width: 100%;
 justify-content: space-between; /*margin-left: 18px;*/
}

.phone__group {
 justify-content: space-between;
 align-items: center;
}

.phone__text {
 color: #00b8f1;
 font-size: 23px;
 margin-left: 20px;
}

.search__form {
 display: flex;
 align-items: center;
 width: 50%;
}

.search__form .form-group {
 display: flex;
 margin: auto;
 justify-content: space-between;
}

.search-phone__group {
 justify-content: space-between;
 align-items: center;
 width: 50%;
 display: inline-flex;
 font-family: 'Rubik', sans-serif;
}

.search__number {
 color: #233582;
 font-size: 21px;
 font-weight: bold;
 line-height: 1.429;
 margin-left: 15px;
 letter-spacing: 2px;
}

.search__form form {
 width: 100%;
 margin-bottom: 0;
 margin: 0 5px;
}

.wpcf7-text {
 max-width: 200px;
 border-radius: 0;
 border: 1px solid rgb(216, 217, 218);
 height: 38px;
 padding: 12px;
 box-sizing: border-box;
 outline: 0px solid lightblue;
 transition: all 0.2s linear;
}

.wpcf7-text:focus {
 outline: 3px solid lightblue;
}

.wpcf7-text::-webkit-input-placeholder {
 color: #b7b8b9;
}

.wpcf7-text::-moz-placeholder {
 color: #b7b8b9;
}

/* Firefox 19+ */
.wpcf7-text:-moz-placeholder {
 color: #b7b8b9;
}

/* Firefox 18- */
.wpcf7-text:-ms-input-placeholder {
 color: #b7b8b9;
}

.wpcf7-submit {
 background-color: #61ce70;
 color: white;
 width: 103px;
 height: 38px;
 border: 0;
 box-sizing: border-box;
 cursor: pointer;
 transition: all 0.7s ease;
}

.wpcf7-submit:hover {
 background-color: #4ab959;
}

/*______________       SECTION 1 CSS        _______________*/
.section1 {
 text-align: center;
 margin: 0 auto;
 margin-top: 36px;
 max-width: 1170px;
 font-family: 'Rubik', sans-serif;
 margin-bottom: 40px;
}

.section1__title,
.section2__title {
 color: #233582;
 font-size: 34px;
 line-height: 34px;
 margin-left: 20px;
 font-weight: bold;
}

.section1 hr,
.section2 hr {
 background-color: rgb(24, 159, 217);
 width: 60px;
 height: 2px;
 margin-top: 14px;
 margin-bottom: 32px;
}

.section1__list {
 display: inline-flex;
 justify-content: space-between;
 width: 100%;
}

.section1__item {
 width: 33.333%;
 padding: 0 30px;
}

.section1__item-img {
 margin-bottom: 30px;
}

.section1__item-img img {
 height: 45px;
}

.section1__item-title,
.section2__item-title {
 font-size: 23px;
 color: rgb(0, 184, 241);
 font-weight: bold;
 line-height: 1.2;
 text-align: center;
 margin-bottom: 16px;
}

.section1__item-description {
 font-size: 15px;
 line-height: 25px;
}

/*______________       SECTION 2 CSS        _______________*/
.section2 {
 width: 100%;
 text-align: center;
 background: #f2fbfe;
 padding-top: 48px;
 margin-bottom: 40px;
}

.section2__list {
 display: inline-flex;
 justify-content: space-between;
 max-width: 1210px;
 padding-bottom: 60px;
}

.section2__item {
 width: 25%;
 margin: 0 15px;
 background-color: #fff;
 padding-bottom: 40px;
}

.section2__item a {
 text-decoration: none;
 transition: all 0.7s ease-out;
}

.section2__item-title a:hover {
 color: green;
}

.section2__item-img {
 margin-bottom: 25px;
}

.section2__item-img img {
 margin-top: 40px;
 height: 45px;
}

.section2__item-description {
 font-size: 15px;
 line-height: 24px;
 margin-top: -5px;
 padding: 0px 25px;
}

/*______________       FOOTER 1 CSS        _______________*/
.footer {
 max-width: 1210px;
 margin: -20px auto;
 font-family: 'Rubik', sans-serif;
 padding-bottom: 20px;
}

.footer__list {
 display: inline-flex;
 justify-content: space-between;
 width: 100%;
}

.footer__item {
 width: 25%;
 padding: 0 15px;
}

.footer__item-title {
 color: #233582;
 font-size: 20px;
 line-height: 40px;
 font-weight: bold;
 border-bottom: 1px solid #ebebeb;
}

.footer__item hr {
 right: 0;
 background-color: rgb(97, 206, 112);
 width: 49px;
 height: 2px;
 margin: 0;
 margin-top: -2px;
}

.footer__item-content {
 line-height: 24px;
 font-size: 14px;
 margin-top: 15px;
 max-height: 190px;
}

.footer__item-content>ul>li {
 cursor: pointer;
 list-style: none;
 transition: all 0.7s ease-out;
}

.footer__item-content>ul>li:hover {
 color: #4ab959;
}

.footer__item-content table {
 border: 0;
 width: 100%;
}

.footer__item-content table td {
 height: 24px;
}

.footer__item-content table span a {
 color: #189fd9;
 text-decoration: none;
 transition: all 0.7s ease-out;
}

.footer__item-content table span a:hover {
 color: green;
}

.footer__phone,
.footer__phone a {
 color: #61ce70;
 text-decoration: none;
 margin-top: 5px;
 font-size: 16px;
 transition: all 0.7s ease;
}

.footer__phone a:hover {
 color: #00b8f1;
}

.footer__cards img {
 margin-right: -7px;
}

.footer__bottom {
 width: 100%;
 margin-top: 75px;
 padding-bottom: 20px;
 margin-right: -30px;
 font-size: 15px;
}

.footer__bottom a {
 color: black;
 text-decoration: none;
 transition: 0.7s ease;
}

.footer__bottom img {
 float: left;
}

.footer__bottom-text {
 line-height: 20px;
 float: left;
 margin-left: 10px;
}

.footer__bottom-text a:hover {
 color: green;
}

.footer__bottom-copyright {
 line-height: 20px;
 float: right;
 margin-right: 35px;
}

#map {
 position: relative;
 z-index: 2;
 width: 100%;
 height: 100%;
 max-height: 160px;
}

.map__link {
 position: relative;
 z-index: 9;
 width: 100%;
 height: 100%;
 max-height: 190px;
 margin-top: -69%;
}

.map__link a {
 display: block;
 height: 100%;
 width: 100%;
}

.menu__burger {
 display: none;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width:320px) and (max-width:1023px) {
 .header {
  min-height: 60px;
  max-width: 100vw;
 }

 .header__logo {
  margin: 0 auto;
  margin-top: 0;
  border: none;
  position: fixed;
  top: 0px;
  height: 60px;
  left: 0;
  display: block;
  width: auto;
  background-color: #fff;
  box-sizing: border-box;
 }

 .logo__pic img {
  height: 40px;
  margin: 10px;
 }

 .header__phone {
  position: fixed;
  left: 0;
  display: none;
  padding-right: 15px;
  border-right: 1px solid #e5edee;
 }

 .menu__burger {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 60px;
  background-color: #00b8f1;
  text-align: center;
  cursor: pointer;
 }

 header #mobile-menu-btn {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 18px 20px;
  width: 40px;
  position: relative;
  right: 5px;
 }

 header #mobile-menu-btn span {
  background-color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin-top: 5px;
  position: relative;
  top: 0;
  transition: all 0.7s ease 0s;
  width: 70%;
  opacity: 1;
 }

 header #mobile-menu-btn.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
  background-color: #fff;
 }

 header #mobile-menu-btn.active span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
 }

 header #mobile-menu-btn.active span:nth-child(3) {
  top: -8px;
  transform: rotate(-45deg);
  background-color: #fff;
 }

 /*
  header #menu { 
   height: 100%;
   width: 100%;
   display: block;
   z-index: 9999999;
   background: #f2fbfe;
   padding: 0;
   transition: 0.7s; 
  }
 */
 header .header__menu.active {
  right: 0;
  transition: 0.7s;
 }

 header .menu-header-container {
  width: 62.5%;
  height: 100%;
  background: #f6f6f6;
  padding-top: 3px;
 }

 .header__menu {
  max-width: 300px;
  width: 50%;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 60px;
  transition: all 0.7s ease;
  background-color: #f2fbfe;
 }

 .menu {
  display: block;
 }

 .menu-active {
  right: 0;
 }

 .menu-item {
  list-style: none;
  display: block;
  margin: 3px 0;
  cursor: pointer;
  float: right;
  width: 100%;
  padding: 0 15px;
  text-align: right;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  border-bottom: 1px grey solid;
 }

 .menu-item a {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.7s ease;
 }

 /*
 .menu-item a:hover {
  background-color: lightgrey;
 }*/
 .menu-item_submenu {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  width: 70%;
  background-color: #f2fbfe;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
  right: 100%;
  top: -80px;
  box-sizing: border-box;
 }

 .menu-item_submenu li {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px lightgrey solid;
 }

 .menu-item_submenu li a {
  padding: 0 15px;
 }

 .submenu-active {
  display: block;
  visibility: visible;
  opacity: 1;
 }

 .banner__group-text {
  position: relative;
  display: block;
  top: 235px;
  right: 10px;
  width: 90vw;
  letter-spacing: 2px;
  line-height: 2;
  max-height: 140px;
 }

 .header__banner {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 400px;
  color: #fff;
  background: url(../img/banner.jpg) top center no-repeat;
  padding: 0;
  margin: 0 auto;
 }

 .banner__title {
  font-size: 18px;
  font-weight: 600;
 }

 .search__section {
  width: 100%;
  margin-top: 25px;
  padding: 33px 0;
  background: #f2fbfe;
  font-family: "Rubik", sans-serif;
  display: block;
 }

 .inner-flex {
  display: block;
  min-height: 40px;
  width: 80%;
  text-align: right;
  margin: 0 auto;
 }

 .search-phone__group {
  width: 100%;
  display: block;
  font-family: 'Rubik', sans-serif;
 }

 .phone__group {
  justify-content: space-between;
  align-items: center;
 }

 .phone__text {
  color: #00b8f1;
  font-size: 21px;
  margin-left: 5px;
  display: inline-block;
  line-height: 40px;
  width: calc(100% - 200px);
  min-width: 230px;
  float: right;
 }

 .search__form {
  display: block;
  width: 100%;
 }

 .search__form .form-group {
  display: block;
  margin: auto;
  justify-content: space-between;
 }

 .search__number {
  color: #233582;
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 100%;
  float: left;
 }

 .search__form form {
  width: 100%;
  margin-bottom: 0;
  margin: 0 5px;
  text-align: center;
 }

 .wpcf7-text {
  border-radius: 0;
  display: inline-block;
  padding: 12px;
  margin: 5px auto;
  width: 75vw;
  max-width: 75vw;
 }

 .wpcf7-submit {
  background-color: #61ce70;
  width: 103px;
  height: 38px;
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.7s ease;
 }

 .section1__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column-reverse;
 }

 .section1__title,
 .section2__title {
  margin: 0;
 }

 .section1__item {
  width: 90%;
  padding: 0 5%;
  margin: 25px auto;
 }

 .section2__list {
  display: inline-flex;
  justify-content: space-around;
  max-width: 1210px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  flex-direction: column-reverse;
 }

 .section2__item {
  width: 90%;
  margin: 15px auto;
  background-color: #fff;
  padding-bottom: 40px;
 }

 .footer__list {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column-reverse;
 }

 .footer__item {
  width: 53%;
  padding: 0 15px;
  margin: 35px auto;
  height: 180px;
 }

 .footer__bottom {
  margin-top: 140px;
 }

}

/* Medium Devices, Desktops */
@media only screen and (min-width:768px) and (max-width:1024px) {
 .search__number {
  color: #233582;
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 2px;
  line-height: 40px;
  width: 48%;
  float: left;
 }

 .phone__text {
  color: #00b8f1;
  font-size: 21px;
  margin-left: 5px;
  display: inline-block;
  line-height: 40px;
  width: 49%;
 }

}

/* Medium Devices, Desktops */
@media only screen and (min-width:1024px) and (max-width:1200px) {
 .header {
  padding: 0 15px;
 }

 .header__logo,
 .header__menu,
 .header__phone {
  height: 100px;
  display: flex;
  float: right;
  box-sizing: border-box;
 }

 .header__menu {
  max-width: 555px;
  width: calc(100% - 470px);
 }

 .menu {
  line-height: 100px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
 }

 .menu-item {
  width: auto;
 }

 .header__phone {
  padding-left: 10px;
 }

 .search__section {
  display: block;
  width: 98%;
  margin: 0 auto;
 }

 .search__number {
  font-size: 18px;
 }

 .phone__text {
  font-size: 19px;
 }

 .wpcf7-text {
  max-width: 182px;
 }

 .footer__bottom img {
  margin-left: 25px;
 }

 .footer__bottom-copyright {
  margin-right: 25px;
 }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width:1200px) {
 .header {
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 120px;
  display: inline-flex;
 }

 .header__menu {
  max-width: 710px;
  width: calc(100% - 470px);
 }

 .section__banner {
  max-width: 1210px;
  margin: 0 auto;
 }

 .search__section {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
  padding: 33px 0;
  background: #f2fbfe;
  font-family: "Rubik", sans-serif;
 }

 .inner-flex {
  display: inline-flex;
  min-height: 40px;
  height: 40px;
  max-width: 1210px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
 }

 .phone__group {
  justify-content: space-between;
  align-items: center;
 }

 .phone__text {
  color: #00b8f1;
  font-size: 23px;
  margin-left: 20px;
 }

 .search__form {
  display: flex;
  align-items: center;
  width: 50%;
 }

 .search__form .form-group {
  display: flex;
  margin: auto;
  justify-content: space-between;
 }

 .search-phone__group {
  width: 50%;
  display: inline-flex;
  font-family: 'Rubik', sans-serif;
 }

 .search__number {
  color: #233582;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.429;
  margin-left: 25px;
  letter-spacing: 2px;
 }

 .search__number a {
  color: #233582;
  text-decoration: none;
  transition: all 0.7s ease-out;
 }

 .search__number a:hover {
  color: green;
 }

 .search__form form {
  width: 100%;
  margin-bottom: 0;
  margin: 0 5px;
 }

 .wpcf7-text {
  max-width: 230px;
  border-radius: 0;
 }

}
