*::-webkit-input-placeholder {
 color: #666;
 opacity: 1;
}

*:-moz-placeholder {
 color: #666;
 opacity: 1;
}

*::-moz-placeholder {
 color: #666;
 opacity: 1;
}

*:-ms-input-placeholder {
 color: #666;
 opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
 color: #666;
}

body input:required:valid,
body textarea:required:valid {
 color: #666;
}

body {
 direction: rtl;
 font-size: 18px;
 min-width: 320px;
 max-width: 100%;
 text-align: right;
 height: 100vh;
 width: 100%;
 padding: 0;
 margin: auto;
 position: relative;
 line-height: 1.6;
 font-family: "RobotoRegular", sans-serif;
 overflow-x: hidden;
 list-style: none;
 display: flex;
 flex: 1;
 flex-flow: column wrap;
 justify-content: space-between;
 align-items: center;
 display: block;
}

* {
 box-sizing: content-box;
}

.hidden {
 display: none;
}

ul {
 margin: 0;
 padding: 0;
}

/*______________       Header CSS        _______________*/
.header {
 position: fixed;
 align-items: center;
 left: 0;
 right: 0;
 top: 0;
 max-height: 100px;
 background-color: white;
 margin-bottom: 20px;
 border-bottom: 1px solid #e5edee;
 font-family: 'Rubik', sans-serif;
 z-index: 10;
}

.header__logo,
.header__menu,
.header__phone {
 height: 100px;
 display: flex;
}

.header__logo {
 border-left: 1px solid #e5edee;
 margin-top: 5px;
 padding-left: 21px;
}

.logo__link {
 display: flex;
 align-items: center;
}

.header__menu {
 max-width: 710px;
 width: 100%;
 padding-left: 30px;
}

.menu {
 display: flex;
 width: 100%;
}

.menu-item {
 list-style: none;
 display: inline-flex;
 margin: auto;
}

.menu-item a {
 color: #000;
}

.header__phone {
 margin-top: -3px; /* border-right: 1px solid #e5edee;*/
}

.link__phone {
 display: flex;
 align-items: center;
 margin: auto 0px;
 margin-left: 10px
}

.icon__phone {
 margin-left: 15px;
}

.phone__label {
 color: #000;
 font-size: 14px;
}

.phone__number {
 color: #233582;
 font-size: 21px;
 font-weight: bold;
 line-height: 1.429;
 margin-left: 5px;
 letter-spacing: 0.6px;
}

/*_____________      Content CSS            _______________*/
.section__banner {
 position: relative;
 height: auto;
 margin-top: 120px;
}

.header__banner {
 position: relative;
 width: 100%;
 height: auto;
 min-height: 400px;
 color: #fff;
 display: flex;
 justify-content: flex-start;
 background: url(../img/banner.jpg) top center no-repeat;
 margin: 0 -10px;
}

.banner__group-text {
 position: relative;
 display: block;
 top: 235px;
 right: 60px;
 letter-spacing: 2px;
 line-height: 2;
 max-height: 140px;
}

.banner__title {
 font-size: 40px;
 font-weight: 600;
}

.banner__decription {
 font-size: 22px;
}

.search__section {
 display: flex;
 width: 100%;
 margin-top: 25px;
 justify-content: space-between;
 padding: 33px 0;
 background: #f2fbfe;
 font-family: "Rubik", sans-serif;
}

.inner-flex {
 display: inline-flex;
 min-height: 40px;
 width: 100%;
 justify-content: space-between;
 margin-left: 18px;
}

.phone__group {
 justify-content: space-between;
 align-items: center;
}

.phone__text {
 color: #00b8f1;
 font-size: 23px;
 margin-left: 20px;
}

.search__form {
 display: flex;
 align-items: center;
 width: 50%;
}

.search__form .form-group {
 display: flex;
 margin: auto;
 justify-content: space-between;
}

.search-phone__group {
 justify-content: space-between;
 align-items: center;
 width: 50%;
 display: inline-flex;
 font-family: 'Rubik', sans-serif;
}

.search__number {
 color: #233582;
 font-size: 21px;
 font-weight: bold;
 line-height: 1.429;
 margin-left: 15px;
 letter-spacing: 2px;
}

.search__form form {
 width: 100%;
 margin-bottom: 0;
 margin: 0 5px;
}

.form-control {
 max-width: 210px;
 border-radius: 0;
}

.form-control::-webkit-input-placeholder {
 color: #b7b8b9;
}

.form-control::-moz-placeholder {
 color: #b7b8b9;
}

/* Firefox 19+ */
.form-control:-moz-placeholder {
 color: #b7b8b9;
}

/* Firefox 18- */
.form-control:-ms-input-placeholder {
 color: #b7b8b9;
}

.btn {
 padding: 5px 37px;
 border-radius: 0;
 font-weight: bold;
}

.btn-success {
 background: #61ce70;
}

/*______________       SECTION 1 CSS        _______________*/
.section1 {
 text-align: center;
 margin: 0 auto;
 margin-top: 36px;
 max-width: 1170px;
 font-family: 'Rubik', sans-serif;
 margin-bottom: 40px;
}

.section1__title,
.section2__title {
 color: #233582;
 font-size: 34px;
 letter-spacing: 1.5px;
 line-height: 34px;
 margin-left: 20px;
 font-weight: bold;
}

.section1 hr,
.section2 hr {
 background-color: rgb(24, 159, 217);
 width: 60px;
 height: 2px;
 margin-top: 14px;
 margin-bottom: 32px;
}

.section1__list {
 display: inline-flex;
 justify-content: space-between;
 width: 100%;
}

.section1__item {
 width: 33.333%;
 padding: 0 30px;
}

.section1__item-img {
 margin-bottom: 30px;
}

.section1__item-img img {
 height: 45px;
}

.section1__item-title,
.section2__item-title {
 font-size: 23px;
 color: rgb(0, 184, 241);
 font-weight: bold;
 line-height: 1.2;
 text-align: center;
 margin-bottom: 28px;
}

.section1__item-description {
 font-size: 15px;
 line-height: 18px;
}

/*______________       SECTION 1 CSS        _______________*/
.section2 {
 width: 100%;
 text-align: center;
 background: #f2fbfe;
 padding-top: 65px;
 margin-bottom: 40px;
}

.section2__list {
 display: inline-flex;
 justify-content: space-between;
 max-width: 1210px;
 padding-top: 35px;
 padding-bottom: 60px;
}

.section2__item {
 width: 25%;
 margin: 0 15px;
 background-color: #fff;
 padding-bottom: 40px;
}

.section2__item-img {
 margin-bottom: 25px;
}

.section2__item-img img {
 margin-top: 40px;
 height: 45px;
}

.section2__item-description {
 font-size: 15px;
 line-height: 22px;
 margin-top: -10px;
 padding: 0px 25px;
}

/*______________       FOOTER 1 CSS        _______________*/
.footer {
 max-width: 1210px;
 margin: -10px auto;
 font-family: 'Rubik', sans-serif;
 padding-bottom: 20px;
}

.footer__list {
 display: inline-flex;
 justify-content: space-between;
 width: 100%;
}

.footer__item {
 width: 25%;
 padding: 0 15px;
}

.footer__item-title {
 color: #233582;
 font-size: 20px;
 line-height: 40px;
 font-weight: bold;
 border-bottom: 1px solid #ebebeb;
}

.footer__item hr {
 right: 0;
 background-color: rgb(97, 206, 112);
 width: 49px;
 height: 2px;
 margin: 0;
 margin-top: -2px;
}

.footer__item-content {
 line-height: 24px;
 font-size: 14px;
 margin-top: 15px;
 max-height: 190px;
}

.footer__item-content>ul>li {
 list-style: none;
}

.footer__item-content table {
 border: 0;
 width: 100%;
}

.footer__item-content>table span {
 color: #189fd9;
}

.footer__phone {
 color: #61ce70;
}

.footer__bottom {
 width: 100%;
 margin-top: 65px;
 padding-bottom: 20px;
}

.footer__bottom img {
 float: left;
}

.footer__bottom-text {
 line-height: 20px;
 float: left;
 margin-left: 20px;
}

.footer__bottom-copyright {
 line-height: 20px;
 float: right;
}

#map {
 position: relative;
 z-index: 2;
 width: 100%;
 height: 100%;
 max-height: 190px;
}

.map__link {
 position: relative;
 z-index: 9;
 width: 100%;
 height: 100%;
 max-height: 190px;
 margin-top: -69%;
}

.map__link a {
 display: block;
 height: 100%;
 width: 100%;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width:320px) {

 /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width:480px) {

 /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width:768px) {

 /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width:992px) {

 /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width:1200px) {
 .container {
  max-width: 1170px;
 }

 .row {
  margin: 0px -10px;
 }

}
