
<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="header__logo"><a class="logo__link" href="/"> 
        <div class="logo__pic"><img src="/img/logo.png"/></div></a></div>
    <div class="header__menu">
      <nav class="menu">
        <li class="menu-item"><a href="#">השכרת_אוהלים</a></li>
        <li class="menu-item"><a href="#">השכרת_אוהלים</a></li>
        <li class="menu-item"><a href="#">השכרת_ציוד_לאירועים</a></li>
        <li class="menu-item"><a href="#">אזורי_שירות</a></li>
        <li class="menu-item"><a href="#">צור_קשר</a></li>
      </nav>
    </div>
    <div class="phone__call"><a class="link__phone" href="#call">
        <div class="icon"><img class="icon__phone" src="/img/phone.png"/></div>
        <div class="phone__group">
          <div class="phone__label">התקשרו לפרטים:</div>
          <div class="phone__number">072-3728117</div>
        </div></a></div>
  </div>
</div>